<section
  class="w-full h-[60vh] max-h-[600px] border-b-[1px] border-b-[#ffffff15] mb-[5rem] flex flex-col items-center justify-center"
>
  <h1 class="dracula-text text-center">Breaking News Portal</h1>
  <p class="mt-10 text-white/60 text-[.8rem] uppercase">
    The only portal where you can find verified, up-to-date information.
  </p>
</section>
<section class="mb-10">
  <h3 class="small mb-8">Récents posts</h3>
  <div
    *ngIf="!dataIsLoaded"
    class="mt-4 flex lfex-col items-center justify-center"
  >
    <p>Les données ne sont pas encore disponible pour l'instant.</p>
    <p>Veuillez bien patienter.</p>
  </div>

  <div *ngIf="dataIsLoaded" class="m-0 p-0 w-full">
    <div
      class="float-left max-[500px]:block max-[500px]:float-none card-w max-[500px]:mr-0 max-[500px]:h-auto max-[500px]:min-w-full mr-[2rem] flex min-w-[600px] max-[500px]:flex-wrap items-center h-[300px] mb-[4rem] rounded-[.1rem] border-[1px] border-[#ffffff17] cursor-pointer"
      (click)="navigateToDetails(new)"
      *ngFor="let new of news"
    >
      <img
        [src]="new.urlToImage | placeholderImage"
        alt="Post Picture"
        class="w-[300px] max-[500px]:w-full max-[500px]:h-[200px] h-full bg-slate-900 object-cover"
      />
      <div class="p-6 max-[500px]:w-full">
        <p class="mt-[1rem] first:mt-0 font-MontSemiBold text-[1rem]">Title</p>
        <div class="text-[.94rem] text-white/70 leading-[1.2rem] mt-[.25rem]">
          {{ new.title | truncate : [25, "..."] }}
        </div>
        <p
          class="mt-[1rem] text-white/90 first:mt-0 font-MontSemiBold text-[.8rem]"
        >
          Description
        </p>
        <div class="text-[.94rem] text-white/70 leading-[1.2rem] mt-[.25rem]">
          {{ new.description | truncate : [50, "..."] }}
        </div>
        <!-- <p class="mt-[1rem] first:mt-0 font-MontSemiBold text-[1rem]">Source</p> -->
        <div class="text-[.94rem] text-white/70 leading-[1.2rem] mt-[1rem]">
          {{ new | sourceName }}
        </div>
        <!-- <p class="mt-[1rem] first:mt-0 font-MontSemiBold text-[1rem]">Author</p> -->
        <div class="text-[.94rem] text-white/70 leading-[1.2rem] mt-[1rem]">
          {{ new.author | nonDefined | truncate : [25, "..."] }}
        </div>
        <!-- <p class="mt-[1rem] first:mt-0 font-MontSemiBold text-[1rem]">Date</p> -->
        <div
          class="text-[.94rem] text-end text-white/70 leading-[1.2rem] mt-[2rem]"
        >
          {{ new.publishedAt | date : "dd/MM/YYYY" }}
        </div>
      </div>
    </div>
  </div>
</section>
